<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="10" strict="true">
	<Properties>
		<Property name="baseDir" value="D:/logs" />
		<Property name="filename" value="${baseDir}/visittour.log" />
	</Properties>
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="RollingFile" fileName="${filename}"
			filePattern="${baseDir}/$${date:yyyy-MM}/%d{yyyy-MM-dd-HH_mm_ss}.log.zip">
			<PatternLayout charset="UTF-8"
				pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level] %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="10 MB" />
			</Policies>
			<DefaultRolloverStrategy>
				<Delete basePath="${baseDir}" maxDepth="2">
					<IfLastModified age="100d" />
				</Delete>
			</DefaultRolloverStrategy>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="org.springframework" level="error" />
		<Root level="INFO">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>